.container {
    margin-left:3rem;
    margin-right:3rem;
}

.main-setting-title {
    margin-top:4rem;
    margin-bottom:2rem;
    font-size:2rem;
    font-weight:600;
    color:#000;

}

.setting-list {
    display:flex;
    flex-direction: column;
    gap:3rem;
}

.setting-category-title {
    margin-top:4rem;
    margin-bottom:2rem;
    font-size:1rem;
    color:#888;
}
